<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ynchinamobile.hexinlvxing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.yetland.crazy.core.app.HexinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.yetland.crazy.bundle.welcome.WelcomeActivity"
            android:theme="@style/ThemeFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yetland.crazy.bundle.user.login.LoginActivity" />
        <activity android:name="com.yetland.crazy.bundle.user.register.RegisterActivity" />
        <activity android:name="com.yetland.crazy.bundle.main.MainActivity" />
        <activity android:name="com.yetland.crazy.bundle.travel.TravelActivity" />
        <activity android:name="com.yetland.crazy.bundle.destination.DestinationActivity" />
        <activity
            android:name="com.yetland.crazy.bundle.user.UserDataActivity"
            android:theme="@style/ThemeFullScreen" />
        <activity android:name="com.yetland.crazy.bundle.main.detail.DetailActivity" />
        <activity android:name="com.yetland.crazy.bundle.user.mine.MineActivity" />
        <activity android:name="com.yetland.crazy.bundle.user.mine.MineCommentActivity" />
        <activity android:name="com.yetland.crazy.bundle.user.FollowActivity" />
        <activity
            android:name="com.yetland.crazy.bundle.user.UserDetailActivity"
            android:theme="@style/ThemeFullScreen" />
        <activity
            android:name="com.yetland.crazy.bundle.user.UserAvatarActivity"
            android:theme="@style/ThemeFullScreen" />
        <activity
            android:name="com.yetland.crazy.bundle.user.CreateActivity"
            android:theme="@style/ThemeFullScreen" />

        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullScreen" />
    </application>

</manifest>